 .u-section-1 {
  min-height: 1323px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 33px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 562px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: -78px auto 53px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 640px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  line-height: 66px;
  margin: 53px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 640px;
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-1 .u-image-1 {
    height: 247px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
    margin-bottom: -134px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-1 .u-image-2 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 189px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-bottom: -139px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 927px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    height: 284px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 606px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 703px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    height: 179px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 382px;
  }
}