.u-section-1 .u-sheet-1 {
  min-height: 365px;
}

.u-section-1 .u-text-1 {
  line-height: 1.4;
  width: 389px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 3.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  width: 343px;
  margin: 12px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}