 .u-section-1 {
  background-image: linear-gradient(to right, #a441c1, #6435ed);
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 216px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 40px 59px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-list-1 {
  width: 961px;
  margin: -230px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 497px;
  --gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px 14px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 46px 20px 0 59px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px 14px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 46px 20px 0 59px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px 14px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 46px 20px 0 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -141px;
    margin-bottom: -141px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -113px;
    margin-bottom: -113px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
} .u-section-4 {
  background-image: url("images/photo-1557682250-33bd709cbe85.jpeg");
}

.u-section-4 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4 .u-shape-1 {
  width: 644px;
  height: 683px;
  margin: 40px auto 0 -45px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: -622px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 559px;
  background-image: url("images/photo-1640531005390-38bd92755d6a.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 40px 20px 115px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-4 .u-shape-1 {
    width: 552px;
    height: 585px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-shape-1 {
    width: 434px;
    height: 460px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-4 .u-shape-1 {
    width: 614px;
    height: 651px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 480px;
    margin: -597px auto 59px;
  }

  .u-section-4 .u-image-1 {
    min-height: 499px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-4 .u-shape-1 {
    height: 351px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 281px;
    margin-top: -317px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 283px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 85px;
  }
} .u-section-5 {
  background-image: url("images/photo-1557682250-33bd709cbe85.jpeg");
}

.u-section-5 .u-sheet-1 {
  min-height: 763px;
}

.u-section-5 .u-shape-1 {
  width: 644px;
  height: 683px;
  margin: 40px auto 0 -45px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -622px auto 60px 0;
}

.u-section-5 .u-image-1 {
  min-height: 559px;
  background-image: url("images/photo-1571260899304-425eee4c7efc.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 40px 20px 115px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-shape-1 {
    width: 552px;
    height: 585px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 461px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-5 .u-shape-1 {
    width: 434px;
    height: 460px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 353px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-5 .u-shape-1 {
    width: 614px;
    height: 651px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 480px;
    margin: -597px auto 59px;
  }

  .u-section-5 .u-image-1 {
    min-height: 499px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-5 .u-shape-1 {
    height: 351px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 281px;
    margin-top: -317px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-1 {
    min-height: 283px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 85px;
  }
} .u-section-6 {
  background-image: url("images/photo-1557682250-33bd709cbe85.jpeg");
}

.u-section-6 .u-sheet-1 {
  min-height: 763px;
}

.u-section-6 .u-shape-1 {
  width: 644px;
  height: 683px;
  margin: 40px auto 0 -45px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: -622px auto 60px 0;
}

.u-section-6 .u-image-1 {
  min-height: 559px;
  background-image: url("images/photo-1631203928493-a4e4eb2b8da1.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 40px 20px 115px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-6 .u-shape-1 {
    width: 552px;
    height: 585px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 461px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-6 .u-shape-1 {
    width: 434px;
    height: 460px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 353px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-6 .u-shape-1 {
    width: 614px;
    height: 651px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 480px;
    margin: -597px auto 59px;
  }

  .u-section-6 .u-image-1 {
    min-height: 499px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-6 .u-shape-1 {
    height: 351px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 281px;
    margin-top: -317px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 283px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 85px;
  }
} .u-section-7 {
  background-image: url("images/photo-1557682250-33bd709cbe85.jpeg");
}

.u-section-7 .u-sheet-1 {
  min-height: 763px;
}

.u-section-7 .u-shape-1 {
  width: 644px;
  height: 683px;
  margin: 40px auto 0 -45px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: -622px auto 60px 0;
}

.u-section-7 .u-image-1 {
  min-height: 559px;
  background-image: url("images/photo-1509191436522-d296cf87d244.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 40px 20px 115px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-7 .u-shape-1 {
    width: 552px;
    height: 585px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 461px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-7 .u-shape-1 {
    width: 434px;
    height: 460px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 353px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-7 .u-shape-1 {
    width: 614px;
    height: 651px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 480px;
    margin: -597px auto 59px;
  }

  .u-section-7 .u-image-1 {
    min-height: 499px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-7 .u-shape-1 {
    height: 351px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 281px;
    margin-top: -317px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-1 {
    min-height: 283px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 85px;
  }
} .u-section-8 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.16000000000000003)), url('images/15462.jpg');
  background-size: cover, cover;
}

.u-section-8 .u-sheet-1 {
  min-height: 695px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 135px 182px 0 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.4;
  margin: 21px 182px 0 38px;
}

.u-section-8 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 50px auto 60px 50px;
  padding: 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 120px;
    margin-bottom: -36px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 365px;
}

.u-section-9 .u-text-1 {
  line-height: 1.4;
  width: 389px;
  margin: 60px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-size: 3.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-9 .u-text-2 {
  width: 343px;
  margin: 12px auto 60px;
}

@media (max-width: 767px) {
  .u-section-9 .u-btn-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
}