 .u-section-1 {
  background-image: linear-gradient(to right, #a441c1, #6435ed);
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 216px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 40px 59px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-list-1 {
  width: 961px;
  margin: -230px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 497px;
  --gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px 14px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 46px 20px 0 59px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px 14px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 46px 20px 0 59px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px 14px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 46px 20px 0 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -141px;
    margin-bottom: -141px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -113px;
    margin-bottom: -113px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2422px;
}

.u-section-4 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 2282px;
  --gap: 22px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-4 .u-image-1 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -438px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-repeater-item-2 {
  background-image: none;
  --radius: 50px;
}

.u-section-4 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-4 .u-image-2 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -438px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-repeater-item-3 {
  background-image: none;
  --radius: 50px;
}

.u-section-4 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-4 .u-image-3 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -438px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-repeater-item-4 {
  background-image: none;
  --radius: 50px;
}

.u-section-4 .u-container-layout-7 {
  padding: 23px 30px;
}

.u-section-4 .u-image-4 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -438px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-blog-1 {
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 22px;
  }

  .u-section-4 .u-image-1 {
    width: 367px;
    height: 494px;
  }

  .u-section-4 .u-group-1 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    height: auto;
  }

  .u-section-4 .u-image-2 {
    width: 367px;
    height: 494px;
  }

  .u-section-4 .u-group-2 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    height: auto;
  }

  .u-section-4 .u-image-3 {
    width: 367px;
    height: 494px;
  }

  .u-section-4 .u-group-3 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    height: auto;
  }

  .u-section-4 .u-image-4 {
    width: 367px;
    height: 494px;
  }

  .u-section-4 .u-group-4 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-image-2 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-image-3 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-image-4 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.16000000000000003)), url('images/15462.jpg');
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 695px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 135px 182px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.4;
  margin: 21px 182px 0 38px;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 50px auto 60px 50px;
  padding: 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 120px;
    margin-bottom: -36px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 365px;
}

.u-section-6 .u-text-1 {
  line-height: 1.4;
  width: 389px;
  margin: 60px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-size: 3.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-6 .u-text-2 {
  width: 343px;
  margin: 12px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-btn-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}