 .u-section-1 {
  min-height: 880px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 784px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 0 0 70px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 80px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 784px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 676px;
  height: 451px;
  margin: 86px auto 0 -7px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 8px auto 24px calc(((100% - 1140px) / 2)  + 155px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 742px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 591px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 241px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 939px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 743px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 664px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 48px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 228px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}